version: 2
updates:
  # Fetch and update latest `npm` packages
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '03:30'
    open-pull-requests-limit: 3
    reviewers:
      - seekayel
    assignees:
      - seekayel
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Fetch and update latest `github-actions` pkgs
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '00:00'
    open-pull-requests-limit: 3
    reviewers:
      - seekayel
    assignees:
      - seekayel
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
