.post-body {
  // h4 {
  //   @apply text-xl;
  // }
  // @apply break-words text-lg text-neutral-200;

  // a {
  //   @apply text-purple-300 underline underline-offset-4 cursor-pointer;
  // }

  /********* MARGIN STYLES *********/
  // p, ol, ul, img, pre, pre code {
  //   @apply mb-10;
  // }

  // &.nuxt-content {
  //   h1, h2, h3, h4, h5, h6 {
  //     @apply text-white;
  //   }
  // }

  // ol, ul {
  //   li {
  //     @apply mb-4 text-lg xl:text-xl;

  //     p {
  //       margin: 0;
  //     }
  //   }
  // }
  
  // p {
  //   @apply font-light leading-relaxed text-lg xl:text-xl xl:leading-relaxed;
  // }

  // ol, ul {
  //   padding: 0 2rem;
  // }
  
  // ol {
  //   list-style-type: decimal;
  // }
  
  // ul {
  //   list-style-type: disc;
  // }

  // strong {
  //   @apply font-bold;
  // }

  // h1 {
  //   @apply text-6xl;
  // }
  
  // h2 {
  //   @apply text-4xl;
  // }
  
  // h3 {
  //   @apply text-3xl;
  // }
  
  // h4 {
  //   @apply text-2xl;
  // }
  
  // h5 {
  //   @apply text-xl;
  // }
  
  // h6 {
  //   font-size: 14px;
  // }
  
  // code {
  //   background: rgba(199, 199, 199, 0.1);
  //   color: rgb(225, 225, 225);
  //   padding: 0 4px;
  //   border-radius: 2px;
  // }
  
  // pre {
  //   background: #303030;
  //   color: #fff;
  //   font-family: 'Consolas', monospace;
  //   padding: .75rem 1rem;
  //   border-radius: .5rem;

  //   &.line-numbers.language-typescript {
  //     @apply mb-10;
  //   }
  // }
  
  // pre code {
  //   color: inherit;
  //   padding: 0;
  //   background: none;
  //   font-size: .9rem;
  // }
  
  // img {
  //   max-width: 100%;
  //   height: auto;
  //   @apply rounded-2xl;
  // }
  
  // blockquote {
  //   border-left: 5px solid #245fff;
  //   @apply mb-10 pl-8;
  // }
  
  // hr {
  //   border: none;
  //   border-top: 2px solid rgba(255,255,255, 0.1);
  //   margin: 2rem 0;
  // }
}