.post-body {
  @apply break-words text-base text-neutral-200;

  a {
    @apply text-purple-300 underline underline-offset-4 cursor-pointer;
  }

  /********* MARGIN STYLES *********/
  p, ol, ul, img {
    @apply mb-10;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mb-6;
  }

  ol, ul {
    p {
      @apply mb-4;
    }
  }
  
  p {
    @apply font-light leading-relaxed xl:text-xl xl:leading-relaxed;
  }

  ol, ul {
    padding: 0 2rem;
  }
  
  ol {
    list-style-type: decimal;
  }
  
  ul {
    list-style-type: disc;
  }

  strong {
    @apply font-bold;
  }

  h1 {
    font-size: xx-large;
  }
  
  h2 {
    font-size: x-large;
  }
  
  h3 {
    font-size: larger;
  }
  
  h4 {
    font-size: large;
  }
  
  h5 {
    font-size: medium;
  }
  
  h6 {
    font-size: small;
  }
  
  code {
    background: rgba(199, 199, 199, 0.1);
    color: rgb(225, 225, 225);
    padding: 0 4px;
    border-radius: 2px;
  }
  
  pre {
    background: #303030;
    color: #fff;
    font-family: 'Consolas', monospace;
    padding: .75rem 1rem;
    border-radius: .5rem;
  }
  
  pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: .9rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
    @apply rounded-2xl;
  }
  
  blockquote {
    border-left: 5px solid #245fff;
    padding-left: 1rem;
  }
  
  hr {
    border: none;
    border-top: 2px solid rgba(255,255,255, 0.1);
    margin: 2rem 0;
  }
}

.hello {
  text-transform: uppercase;
}