@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@800&family=Kanit:wght@400;600;800;900&family=Montserrat:wght@400;600;800;900&family=Raleway:wght@100;300;400;500;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-sans bg-neutral-900 text-white;
    }
}

.gradient-bg {
    @apply bg-gradient-to-b from-black to-neutral-900;
}

.button {
    @apply flex items-center justify-center gap-2 px-4 py-2 rounded-xl !text-sm font-medium
    h-10 cursor-pointer capitalize !text-white hover:no-underline  min-w-[100px] transition;
}

.button-primary {
    @apply bg-primary hover:bg-primary hover:scale-105 border-none;
}

.button-outline {
    @apply !bg-transparent !border !border-neutral-600 !text-neutral-300 hover:!text-white hover:bg-transparent hover:!border-white;
}

.section {
    @apply max-w-6xl mx-auto px-4 py-32 xl:!px-0;
}

.common-section {
    @apply flex flex-col items-center gap-8;
}

.blue-shadow {
    box-shadow: 10px 0px 60px 4px #162859;
}

:root{
    --darkblue: #000D64;
    --blue: #2E59C7;
    --primary-blue: #3868E3;
    --lightblue: #98B1EF;
    --lightgray: #D7D7D7;
    --darkgray: #9F9F9F;
    --gray: #C4C4C4;
    --black: #292929;
    --red: #CA3000;
    --orange: #EC5500;
    --green: #039500;
    --dark-green: #209123;
    --yellow: #ECC600;
    --success: #039500;
    --borders-radius: 5px;
    --pink: #e83e8c;
    --darkpink: #6c1d42;
    --background-pattern-dark: url("../images/dark_bg.png");
    --background-pattern-light: url("../images/cyclic_pattern.svg");
    --code-error: #400b0b;
    --text-color: black;
    --highlight-color: var(--primary-blue);
    --shadow-close:  0px 2px 4px rgba(0, 0, 0, 0.075);
    --shadow-mid:  0px 8px 16px rgba(0, 0, 0, 0.15);
    --shadow-far:  0px 16px 48px rgba(0, 0, 0, 0.176);
    --background-color: black;
    --h-white: #bdbdbd
}


.metal{
    color: rgb(255,242,181);
    background-image: linear-gradient(rgb(255 255 255) 42%, rgb(183 183 183) 73%);
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
}
em{
    color: var(--pink)
  }

  


@media screen and (max-width: 991px) {
    #index-page p{
        font-size: 17px;
    }
    h2{
        font-weight: 300 !important; 
    }
  }
  