---
title: '{{Name}}'
slug: '{{Slug}}'
summary: '{{Post Summary}}'
colId: {{Collection ID}}
id: {{Item ID}}
createdAt: '{{Created On}}'
updatedAt: '{{Updated On}}'
publishedOn: '{{Published On}}'
author: {{Author}}
category: {{Category}}
hidden: {{Hidden}}
featured: {{Featured?}}
public: {{{Public Publication}}}
image: {{{Main Image}}}
thumbnail: {{{Thumbnail image}}}
---
{{markdown}}
